Repository miladfm/elemix: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, nx affected:lint --fix --files, npx stylelint --fix

ci: setup build flow for ci
  .github/actions/pnpm-install/action.yml
  .github/workflows/lint-build-test.yml
Due: none

ci: skip pnpm install before restore cache
  .github/actions/pnpm-install/action.yml
Due: none

feat(core): add dom class
  .eslintrc.json
  package.json
  packages/core/jest.config.ts
  packages/core/src/index.ts
  packages/core/src/lib/common/common.model.ts
  packages/core/src/lib/common/constant.ts
  packages/core/src/lib/common/ensure.util.spec.ts
  packages/core/src/lib/common/ensure.util.ts
  packages/core/src/lib/core.spec.ts
  packages/core/src/lib/core.ts
  packages/core/src/lib/dom/dom.spec.ts
  packages/core/src/lib/dom/dom.ts
  packages/core/src/lib/dom/dom.util.spec.ts
  packages/core/src/lib/dom/dom.util.ts
  packages/core/src/lib/dom/parse-transform.util.spec.ts
  packages/core/src/lib/dom/parse-transform.util.ts
  pnpm-lock.yaml
  tsconfig.base.json
Due: prettier --write, nx affected:lint --fix --files

feat(core): add scale-element-to-fit feature
  .eslintrc.json
  doc/test-scenario.md
  packages/core/src/index.ts
  packages/core/src/lib/common/common.model.ts
  packages/core/src/lib/common/common.util.ts
  packages/core/src/lib/dom/dom.ts
  packages/core/src/lib/scale-element-to-fit/scale-element-to-fit.model.ts
  packages/core/src/lib/scale-element-to-fit/scale-element-to-fit.ts
  packages/core/src/lib/scale-element-to-fit/scale-element-to-fit.util.ts
  packages/core/src/test/unit/common.util.spec.ts
  packages/core/src/test/unit/scale-element-to-fit.spec.ts
Due: prettier --write, nx affected:lint --fix --files

chore(ci): separate CI workflows for main branch and main branch pull requests
  .github/workflows/lint-build-test.yml
  .github/workflows/main-branch-pull-request.yml
  .github/workflows/mian-branch.yml
Due: none

feat(core): add TouchEventSerializer
  .eslintrc.json
  internal-lib/util-testing/src/index.ts
  internal-lib/util-testing/src/lib/jest/event-listener/event-listener.spec.ts
  internal-lib/util-testing/src/lib/jest/event-listener/event-listener.ts
  packages/core/package.json
  packages/core/src/lib/gestures/gestures.model.ts
  packages/core/src/lib/gestures/gestures.ts
  packages/core/src/lib/gestures/gestures.util.ts
  packages/core/src/lib/gestures/touch-event-serializer.ts
  packages/core/src/test/unit/touch-event-serializer.spec.ts
Due: prettier --write, nx affected:lint --fix --files

fix(core): fix event listener target for touchmove and end touchend
  packages/core/src/lib/gestures/touch-event-serializer.ts
  packages/core/src/test/unit/touch-event-serializer.spec.ts
Due: prettier --write, nx affected:lint --fix --files

feat(core): add MouseEventSerializer
  packages/core/src/lib/gestures/mouse-event-serializer.ts
  packages/core/src/test/unit/mouse-event-serializer.spec.ts
Due: prettier --write, nx affected:lint --fix --files

feat(core): add PointerEventSerializer
  packages/core/src/lib/gestures/pointer-event-serializer.ts
  packages/core/src/test/unit/pointer-event-serializer.spec.ts
Due: prettier --write, nx affected:lint --fix --files

feat(internal-lib): support multi event listener for single element
  internal-lib/util-testing/src/lib/jest/event-listener/event-listener.spec.ts
  internal-lib/util-testing/src/lib/jest/event-listener/event-listener.ts
Due: prettier --write, nx affected:lint --fix --files

feat(internal-lib): add jest to-contain-times expect
  internal-lib/util-testing/src/index.ts
  internal-lib/util-testing/src/lib/jest/extends/to-contain-times.ts
  internal-lib/util-testing/src/types.d.ts
Due: prettier --write, nx affected:lint --fix --files

feat(core): add gesture feature
  .eslintrc.json
  doc/gestures-event.md
  packages/core/src/index.ts
  packages/core/src/lib/common/math.util.ts
  packages/core/src/lib/gestures/gesture-strategy-drag.ts
  packages/core/src/lib/gestures/gesture-strategy-press.ts
  packages/core/src/lib/gestures/gesture-strategy-zoom.ts
  packages/core/src/lib/gestures/gesture-strategy.base.ts
  packages/core/src/lib/gestures/gestures.model.ts
  packages/core/src/lib/gestures/gestures.ts
  packages/core/src/lib/gestures/mouse-event-serializer.ts
  packages/core/src/lib/gestures/pointer-event-serializer.ts
  packages/core/src/lib/gestures/touch-event-serializer.ts
  packages/core/src/test/integration/gestures.spec.ts
  packages/core/src/test/unit/math.util.spec.ts
  packages/core/src/test/unit/mouse-event-serializer.spec.ts
  packages/core/src/test/unit/pointer-event-serializer.spec.ts
  packages/core/src/test/unit/touch-event-serializer.spec.ts
  test-setup.ts
Due: prettier --write, nx affected:lint --fix --files

feat(drag): add basic dragging
  internal-lib/util-testing/src/lib/jest/event-listener/event-listener.spec.ts
  internal-lib/util-testing/src/lib/jest/event-listener/event-listener.ts
  packages/core/src/index.ts
  packages/core/src/lib/common/common.model.ts
  packages/core/src/lib/gestures/gestures.ts
  packages/drag/.eslintrc.json
  packages/drag/.swcrc
  packages/drag/README.md
  packages/drag/jest.config.ts
  packages/drag/package.json
  packages/drag/project.json
  packages/drag/src/index.ts
  packages/drag/src/lib/drag.model.ts
  packages/drag/src/lib/drag.ts
  packages/drag/src/test/integration/drag.spec.ts
  packages/drag/src/test/unit/drag.spec.ts
  packages/drag/tsconfig.json
  packages/drag/tsconfig.lib.json
  packages/drag/tsconfig.spec.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: prettier --write, nx affected:lint --fix --files

feat(storybook): add basic drag story
  .gitignore
  .npmrc
  @types/index.d.ts
  apps/storybook/.eslintrc.json
  apps/storybook/.storybook/main.ts
  apps/storybook/.storybook/preview.ts
  apps/storybook/README.md
  apps/storybook/package.json
  apps/storybook/project.json
  apps/storybook/stories/drag/drag.css
  apps/storybook/stories/drag/drag.stories.ts
  apps/storybook/stories/drag/drag.ts
  apps/storybook/tsconfig.json
  apps/storybook/tsconfig.lib.json
  apps/storybook/tsconfig.storybook.json
  nx.json
  package.json
  packages/core/src/lib/animation/animation.ts
  packages/core/src/lib/common/common.util.ts
  packages/core/src/test/integration/animation.spec.ts
  packages/core/src/test/unit/animation.spec.ts
  packages/drag/package.json
  packages/drag/src/lib/drag.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.base.json
  tsconfig.json
Due: prettier --write, nx affected:lint --fix --files

chore: add clean pnpm scripts
  package.json
  tools/scripts/clean-pnpm.js
Due: prettier --write

feat(drag): add drag movement direction
  packages/core/src/lib/common/common.model.ts
  packages/core/src/lib/common/common.util.ts
  packages/core/src/lib/gestures/gestures.ts
  packages/core/src/test/unit/animation.spec.ts
  packages/core/src/test/unit/common.util.spec.ts
  packages/drag/src/index.ts
  packages/drag/src/lib/drag-basic-position-adjusters.ts
  packages/drag/src/lib/drag-movement-direction-position-adjusters.ts
  packages/drag/src/lib/drag.model.ts
  packages/drag/src/lib/drag.ts
  packages/drag/src/test/integration/drag.spec.ts
Due: prettier --write, nx affected:lint --fix --files

feat(storybook): add storybook for drag
  .eslintrc.json
  .gitignore
  .prettierignore
  apps/storybook/.storybook/main.ts
  apps/storybook/package.json
  apps/storybook/project.json
  apps/storybook/stories/drag/drag.css
  apps/storybook/stories/drag/drag.stories.ts
  apps/storybook/stories/drag/drag.ts
  internal-lib/util-testing/project.json
  migrations.json
  nx.json
  package.json
  packages/core/project.json
  packages/drag/project.json
  pnpm-lock.yaml
  project.json
Due: prettier --write, nx affected:lint --fix --files

refactor(core): rename reactiveValue to state
  packages/core/src/lib/animation/animation.ts
  packages/core/src/lib/common/state.ts
  packages/core/src/test/unit/animation.spec.ts
  packages/core/src/test/unit/state.spec.ts
Due: prettier --write, nx affected:lint --fix --files

refactor(core/state): use xoid library for state management
  .eslintrc.json
  internal-lib/util-testing/src/index.ts
  internal-lib/util-testing/src/lib/jest/extends/to-have-not-deep-instances.ts
  internal-lib/util-testing/src/types.d.ts
  packages/core/package.json
  packages/core/src/lib/animation/animation.ts
  packages/core/src/lib/common/common.model.ts
  packages/core/src/lib/common/common.util.ts
  packages/core/src/lib/common/ensure.util.ts
  packages/core/src/lib/common/state.ts
  packages/core/src/test/integration/animation.spec.ts
  packages/core/src/test/unit/animation.spec.ts
  packages/core/src/test/unit/state.spec.ts
  pnpm-lock.yaml
  test-setup.ts
Due: prettier --write, nx affected:lint --fix --files

feat(drag/boundary): add drag boundary feature
  .eslintrc.json
  apps/storybook/stories/drag/drag.css
  apps/storybook/stories/drag/drag.stories.ts
  apps/storybook/stories/drag/drag.ts
  packages/core/src/index.ts
  packages/core/src/lib/animation/animation.ts
  packages/core/src/lib/animation/animation.util.ts
  packages/core/src/lib/common/common.model.ts
  packages/core/src/lib/common/common.util.ts
  packages/core/src/lib/common/constant.ts
  packages/core/src/lib/dom/dom-parse-transform.util.ts
  packages/core/src/lib/dom/dom.ts
  packages/core/src/test/integration/animation.spec.ts
  packages/core/src/test/unit/animation.util.spec.ts
  packages/core/src/test/unit/common.util.spec.ts
  packages/core/src/test/unit/dom-parse-transform.util.spec.ts
  packages/drag/src/lib/drag-basic-position-adjusters.ts
  packages/drag/src/lib/drag-boundary-position-adjusters.ts
  packages/drag/src/lib/drag-boundary-position-adjusters.utils.ts
  packages/drag/src/lib/drag.model.ts
  packages/drag/src/lib/drag.ts
  packages/drag/src/test/integration/drag.spec.ts
Due: prettier --write, nx affected:lint --fix --files

refactor(test): create and use mock pointer event
  doc/testing-guidelines.md
  internal-lib/util-testing/src/index.ts
  internal-lib/util-testing/src/lib/jest/mocks/event-listener.spec.ts
  internal-lib/util-testing/src/lib/jest/mocks/event-listener.ts
  internal-lib/util-testing/src/lib/jest/mocks/mock-pointer-event.spec.ts
  internal-lib/util-testing/src/lib/jest/mocks/mock-pointer-event.ts
  internal-lib/util-testing/src/lib/jest/mocks/mock-request-animation-frame.spec.ts
  internal-lib/util-testing/src/lib/jest/mocks/mock-request-animation-frame.ts
  packages/core/src/test/integration/gestures.spec.ts
  packages/drag/src/test/integration/drag.spec.ts
Due: prettier --write, nx affected:lint --fix --files

feat(drag): add min movement feature
  apps/storybook/stories/drag/drag.stories.ts
  apps/storybook/stories/drag/drag.ts
  packages/core/src/lib/gestures/gestures.model.ts
  packages/drag/src/lib/drag.model.ts
  packages/drag/src/lib/drag.ts
  packages/drag/src/test/integration/drag.spec.ts
Due: prettier --write, nx affected:lint --fix --files

feat(storybook): add storybook theme
  @types/index.d.ts
  apps/storybook/.storybook/assets/logo.svg
  apps/storybook/.storybook/main.ts
  apps/storybook/.storybook/manager-head.html
  apps/storybook/.storybook/manager.ts
  apps/storybook/.storybook/preview.ts
  apps/storybook/.storybook/theme.ts
  apps/storybook/package.json
  apps/storybook/stories/drag/drag.css
  apps/storybook/tsconfig.lib.json
  apps/storybook/tsconfig.storybook.json
  packages/core/src/test/integration/animation.spec.ts
  packages/core/tsconfig.spec.json
  pnpm-lock.yaml
Due: prettier --write, nx affected:lint --fix --files

feat(storybook): add storybook doc template
  .eslintrc.json
  @types/index.d.ts
  apps/storybook/.eslintrc.json
  apps/storybook/.storybook/main.ts
  apps/storybook/.storybook/manager-head.html
  apps/storybook/.storybook/manager.ts
  apps/storybook/.storybook/preview.ts
  apps/storybook/.storybook/theme.ts
  apps/storybook/components/doc-page-tab.css
  apps/storybook/components/doc-page-tab.tsx
  apps/storybook/components/doc-page.css
  apps/storybook/components/doc-page.model.ts
  apps/storybook/components/doc-page.util.ts
  apps/storybook/components/docs-container.tsx
  apps/storybook/components/docs-page.tsx
  apps/storybook/components/svg.tsx
  apps/storybook/images/doc-bg.svg
  apps/storybook/images/drag-banner.svg
  apps/storybook/images/logo.svg
  apps/storybook/package.json
  apps/storybook/project.json
  apps/storybook/stories/drag/drag.css
  apps/storybook/stories/drag/drag.stories.ts
  apps/storybook/stories/drag/drag.ts
  apps/storybook/tsconfig.lib.json
  apps/storybook/tsconfig.storybook.json
  package.json
  packages/drag/README.md
  packages/drag/images/drag-banner.svg
  packages/drag/src/lib/drag.model.ts
  patches/@storybook__blocks@7.6.3.patch
  pnpm-lock.yaml
Due: prettier --write, nx affected:lint --fix --files

chore: setup CI to publish storybook
  .github/workflows/deploy-github-pages.yaml
Due: none

chore: build and publish storybook to GitHub page manually
  .github/workflows/deploy-github-pages.yaml
Due: none

chore: use `npx` run run nx command in ci
  .github/workflows/deploy-github-pages.yaml
Due: none

chore: use `workflow_dispatch` in CI for publishing storybook
  .github/workflows/deploy-github-pages.yaml
Due: none

chore: fetch the main branch on PR workflow
  .github/workflows/deploy-github-pages.yaml
  .github/workflows/main-branch-pull-request.yml
Due: none

test(core/animation): remove check cancel animation on apply
  packages/core/src/test/integration/animation.spec.ts
Due: prettier --write, nx affected:lint --fix --files

feat(zoom): init zoom package
  package.json
  packages/zoom/.eslintrc.json
  packages/zoom/.swcrc
  packages/zoom/README.md
  packages/zoom/images/drag-banner.svg
  packages/zoom/jest.config.ts
  packages/zoom/package.json
  packages/zoom/project.json
  packages/zoom/src/index.ts
  packages/zoom/src/lib/zoom.ts
  packages/zoom/src/test/intergration/zoom.spec.ts
  packages/zoom/src/test/unit/zoom.spec.ts
  packages/zoom/tsconfig.json
  packages/zoom/tsconfig.lib.json
  packages/zoom/tsconfig.spec.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: prettier --write, nx affected:lint --fix --files

fix(zoom/pinch-zoom): add basic pinch-zoom feature
  .eslintrc.json
  apps/storybook/components/doc-page-tab.css
  apps/storybook/components/docs-page.tsx
  apps/storybook/stories/zoom/zoom.css
  apps/storybook/stories/zoom/zoom.stories.ts
  apps/storybook/stories/zoom/zoom.ts
  packages/core/src/lib/dom/dom.ts
  packages/drag/src/lib/drag.ts
  packages/drag/src/test/integration/drag.spec.ts
  packages/drag/src/test/unit/drag.spec.ts
  packages/zoom/src/index.ts
  packages/zoom/src/lib/pinch-zoom/README.md
  packages/zoom/src/lib/pinch-zoom/pinch-zoom-scale-adjusters.ts
  packages/zoom/src/lib/pinch-zoom/pinch-zoom.model.ts
  packages/zoom/src/lib/pinch-zoom/pinch-zoom.ts
  packages/zoom/src/lib/zoom.model.ts
  packages/zoom/src/lib/zoom.ts
  packages/zoom/src/test/intergration/pinch-zoom.spec.ts
  packages/zoom/src/test/intergration/zoom.spec.ts
  packages/zoom/src/test/unit/zoom.spec.ts
Due: prettier --write, nx affected:lint --fix --files

fix(zoom/pinch-zoom): fix pinch-zoom center movements
  apps/storybook/images/number-grid-1-40.jpeg
  apps/storybook/stories/zoom/zoom.css
  apps/storybook/stories/zoom/zoom.ts
  internal-lib/util-testing/src/lib/jest/mocks/mock-pointer-event.ts
  packages/core/src/lib/gestures/gesture-strategy-zoom.ts
  packages/core/src/lib/gestures/gestures.model.ts
  packages/core/src/test/integration/gestures.spec.ts
  packages/zoom/src/lib/pinch-zoom/pinch-zoom-scale-adjusters.ts
  packages/zoom/src/lib/pinch-zoom/pinch-zoom.ts
  packages/zoom/src/lib/zoom.model.ts
  packages/zoom/src/test/intergration/pinch-zoom.spec.ts
Due: prettier --write, nx affected:lint --fix --files

feat(zoom/pinch-zoom): add min and max scale with bounce effect
  apps/storybook/stories/zoom/zoom.stories.ts
  apps/storybook/stories/zoom/zoom.ts
  packages/core/src/lib/common/math.util.ts
  packages/core/src/lib/dom/dom.ts
  packages/drag/src/lib/drag-boundary-position-adjusters.ts
  packages/drag/src/lib/drag-boundary-position-adjusters.utils.ts
  packages/zoom/src/lib/pinch-zoom/pinch-zoom-scale-adjusters.ts
  packages/zoom/src/lib/pinch-zoom/pinch-zoom.model.ts
  packages/zoom/src/lib/pinch-zoom/pinch-zoom.ts
  packages/zoom/src/lib/zoom.model.ts
  packages/zoom/src/test/intergration/pinch-zoom.spec.ts
Due: prettier --write, nx affected:lint --fix --files

feat(core/animation): skip animation if nothing has changed
  packages/core/src/lib/animation/animation.ts
  packages/core/src/test/integration/animation.spec.ts
Due: prettier --write, nx affected:lint --fix --files

feat(core/gestures): add `minZoomEventThreshold` for zoom
  packages/core/src/lib/gestures/gesture-strategy-zoom.ts
  packages/core/src/lib/gestures/gestures.model.ts
  packages/core/src/lib/gestures/gestures.ts
  packages/core/src/test/integration/gestures.spec.ts
Due: prettier --write, nx affected:lint --fix --files

docs(drag): update drag model document
  packages/drag/src/lib/drag.model.ts
Due: prettier --write, nx affected:lint --fix --files

feat(zoom/pinch-zoom): add pinch-zoom boundary for max and min scale
  packages/zoom/package.json
  packages/zoom/src/index.ts
  packages/zoom/src/lib/pinch-zoom/pinch-zoom-scale-adjusters.ts
  packages/zoom/src/lib/pinch-zoom/pinch-zoom.model.ts
  packages/zoom/src/lib/pinch-zoom/pinch-zoom.ts
  packages/zoom/src/test/intergration/pinch-zoom.spec.ts
Due: prettier --write, nx affected:lint --fix --files

feat(storybook): add story for pinch-zoom and refactor drag stories
  apps/storybook/.storybook/manager-head.html
  apps/storybook/.storybook/preview-head.html
  apps/storybook/stories/drag/drag.css
  apps/storybook/stories/drag/drag.ts
  apps/storybook/stories/zoom/zoom.css
  apps/storybook/stories/zoom/zoom.stories.ts
  apps/storybook/stories/zoom/zoom.ts
Due: prettier --write, nx affected:lint --fix --files

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.scss)) or (any of: *.json)
  nx affected:lint --fix --files: any of: *.ts
  npx stylelint --fix: any of: *.scss
